development:
  host: '127.0.0.1'
  port: 9042
  keyspace: bd_paktikum3_development
  max_retries: 3
  retry_delay: 0.5
  newrelic: false
  connect_timeout: 30
  timeout: 30
  idle_timeout: 240
  heartbeat_interval: 120

test:
  host: '127.0.0.1'
  port: 9042
  keyspace: bd_paktikum3_test
  max_retries: 3
  retry_delay: 0.5
  newrelic: false
  connect_timeout: 30
  timeout: 30
  idle_timeout: 30

production:
  hosts:
    - 'cass1.bd_paktikum3.biz'
    - 'cass2.bd_paktikum3.biz'
    - 'cass3.bd_paktikum3.biz'
  port: 9042
  keyspace: bd_paktikum3_production
  username: 'myappuser'
  password: 'password1'
  max_retries: 3
  retry_delay: 0.5
  newrelic: true
  replication:
    class: SimpleStrategy
    replication_factor: 1
# replication:
#   class: NetworkTopologyStrategy
#   datacenter1: 3
#   datacenter2: 2
# durable_writes: false
