development:
  host: '127.0.0.1'
  port: 9042
  keyspace: bd_paktikum3_development
  max_retries: 3
  retry_delay: 0.5
  newrelic: false

test:
  host: '141.100.62.83' #'127.0.0.1'
  port: 9042
  keyspace: bd_paktikum3_test
  max_retries: 3
  retry_delay: 0.5
  newrelic: false

production:
  hosts:
    - 'cass1.bd_paktikum3.biz'
    - 'cass2.bd_paktikum3.biz'
    - 'cass3.bd_paktikum3.biz'
  port: 9042
  keyspace: bd_paktikum3_production
  username: 'myappuser'
  password: 'password1'
  max_retries: 3
  retry_delay: 0.5
  newrelic: true
  replication:
    class: SimpleStrategy
    replication_factor: 1
# replication:
#   class: NetworkTopologyStrategy
#   datacenter1: 3
#   datacenter2: 2
# durable_writes: false
